html {
    background-color:teal;
}

nav img {
    filter: drop-shadow(15px 5px 4px black);
    transition: transform .2s;
}

nav img:hover {
    transform: scale(1.10);
}

figcaption {
    font-size: x-large;
    font-weight: bold;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

p {
    font-size: large;
    border-bottom: 1px solid black;
    width: 30%;
}

head {
    background-color: black;
}

.tittle {
    font-size: x-large;
    position: fixed;
    background-color: darkgray;
    z-index: 10;
    width: 100%;
}